<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!--"parallel"-->
<!--methods -> test methods-->
<!--tests -> all methods in a <test> tag-->
<!--classes -> all methods in the same class-->
<!--instances ->  will run all the methods in the same instance in the same thread, but two methods on two different instances will be running in different threads -->

<suite name="test1" parallel="methods" thread-count="3" verbose="1">
    <parameter name="username" value="ovidiu.zakarias"/>
    <parameter name="password" value="Quality1"/>
    <test name="test" >
        <!--<groups>-->
            <!--<run>-->
                <!--<include name="smoke"/>-->
                <!--<exclude name="regression"/>-->
            <!--</run>-->
        <!--</groups>-->

        <classes>
            <class name="ExOne"/>
            <class name="ExTwoThreeFour"/>
            <class name="ExFive"/>
            <class name="ExSixSevenEight"/>
            <class name="ExThirteen"/>
        </classes>


    </test>

    <listeners>
        <listener class-name="SimpleTestListener"/>
    </listeners>

</suite>
